@model Nhom18.Models.Nhanvien

@{
    ViewData["Title"] = "Create";
}

<h1>Thông Tin</h1>

<h4>Nhân viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <input asp-for="MaNV" required="#" class="form-control" value = "@ViewBag.newID" />
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNV" class="control-label"></label>
                <input asp-for="TenNV" required="#" class="form-control" />
                <span asp-validation-for="TenNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaysinhNV" class="control-label"></label>
                <input asp-for="NgaysinhNV" required="#" class="form-control" />
                <span asp-validation-for="NgaysinhNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SdtNV" class="control-label"></label>
                <input asp-for="SdtNV" required="#" class="form-control" />
                <span asp-validation-for="SdtNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiachiNV" class="control-label"></label>
                <input asp-for="DiachiNV" required="#" class="form-control" />
                <span asp-validation-for="DiachiNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailNV" class="control-label"></label>
                <input asp-for="EmailNV"  required="#" class="form-control" />
                <span asp-validation-for="EmailNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
