@model Nhom18.Models.Nhanvien

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center;">Thông Tin</h1>

<h2>Nhân viên</h2>
<hr />
<div>
    <div class="w3-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNV"  class="w3-text-teal"></label>
                <input asp-for="MaNV" required="#" class="w3-input w3-border w3-light-grey" value = "@ViewBag.newID" />
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNV"  class="w3-text-teal"></label>
                <input asp-for="TenNV" required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="TenNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaysinhNV"  class="w3-text-teal"></label>
                <input asp-for="NgaysinhNV" required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="NgaysinhNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SdtNV"  class="w3-text-teal"></label>
                <input asp-for="SdtNV" required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="SdtNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiachiNV"  class="w3-text-teal"></label>
                <input asp-for="DiachiNV" required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="DiachiNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailNV"  class="w3-text-teal"></label>
                <input asp-for="EmailNV"  required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="EmailNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="w3-padding w3-display-bottommiddle"> 
    <a asp-action="Index" class="w3-btn w3-black" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
