@model Nhom18.Models.Nhanvien

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nhân viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNV" />
            <div class="form-group">
                <label asp-for="TenNV" class="control-label"></label>
                <input asp-for="TenNV" class="form-control" />
                <span asp-validation-for="TenNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaysinhNV" class="control-label"></label>
                <input asp-for="NgaysinhNV" class="form-control" />
                <span asp-validation-for="NgaysinhNV" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="SdtNV" class="control-label"></label>
                <input asp-for="SdtNV" class="form-control" />
                <span asp-validation-for="SdtNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiachiNV" class="control-label"></label>
                <input asp-for="DiachiNV" class="form-control" />
                <span asp-validation-for="DiachiNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailNV" class="control-label"></label>
                <input asp-for="EmailNV" class="form-control" />
                <span asp-validation-for="EmailNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
