@model Nhom18.Models.Hoadon

@{
    ViewData["Title"] = "Create";
}

<h1>Thông Tin</h1>

<h4>Hóa Đơn Mua Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHD" class="control-label"></label>
                <input asp-for="MaHD" class="form-control" value = "@ViewBag.newID" />
                <span asp-validation-for="MaHD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKH" class="control-label">Tên Khách Hàng</label>
                <select asp-for="TenKH" class ="form-control" asp-items="ViewBag.TenKH"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label">Tên Sản Phẩm</label>
                <select asp-for="TenSP" class ="form-control" asp-items="ViewBag.TenSP"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoluongHD" class="control-label"></label>
                <input asp-for="SoluongHD" class="form-control" />
                <span asp-validation-for="SoluongHD" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style=" text-decoration: none; color: rgba(0, 0, 0, 0.9); font-weight: 700; background-color: rgb(119, 0, 255); color :#ffff;  pading-top  border-bottom-radius: 50px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
