@model Nhom18.Models.Hoadon

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center;">Thông Tin</h1>

<h2>Hóa Đơn Mua Hàng</h2>
<hr />
<div >
    <div  class="w3-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHD" class="w3-text-teal"></label>
                <input asp-for="MaHD" class="form-control" value = "@ViewBag.newID" />
                <span asp-validation-for="MaHD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKH" class="w3-text-teal">Tên Khách Hàng</label>
                <select asp-for="TenKH" class ="form-control" asp-items="ViewBag.TenKH"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="w3-text-teal">Tên Sản Phẩm</label>
                <select asp-for="TenSP" class ="form-control" asp-items="ViewBag.TenSP"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoluongHD" class="w3-text-teal"></label>
                <input asp-for="SoluongHD" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="SoluongHD" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="w3-paddingg w3-display-bottommiddle">
    <a asp-action="Index" class="w3-btn w3-black">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
