@model Nhom18.Models.Hoadon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hóa Đơn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHD" />
            <div class="form-group">
                <label asp-for="TenKH" class="control-label"></label>
                <select asp-for="TenKH" class="form-control" asp-items="ViewBag.TenKH"></select>
                <span asp-validation-for="TenKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <select asp-for="TenSP" class="form-control" asp-items="ViewBag.TenSP"></select>
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoluongHD" class="control-label"></label>
                <input asp-for="SoluongHD" class="form-control" />
                <span asp-validation-for="SoluongHD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngayban" class="control-label"></label>
                <input asp-for="Ngayban" class="form-control" />
                <span asp-validation-for="Ngayban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
