@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
<h1 > Hệ Thống Quản Lí Bán Đồ Điện Tử </h1>
  
   <!-- About -->
<div id="about" class="w3-padding-top-64">
<div class="w3-row">

<div class="w3-half w3-padding-large w3-hide-small">
<img  src="./image/p2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table" style="width:100%">
</div>

<div class="w3-half w3-padding-large">
<h1 class="w3-center">Giới Thiệu</h1><br>
<h5 class="w3-center">Chuyên môn</h5>
<p class="w3-large">
Nhập hàng: Hệ thống sẽ cho bạn thống kê chi tiết về việc nhập hàng giúp bạn quản lý trình trạng kho hàng tốt hơn. <br>
Kiểm soát đơn hàng: Hệ thống sẽ giúp bạn kiểm soát các hóa đơn, từ đó tiết kiệm thời gian trong việc thống kê chi phí hay lợi nhuận của doanh nghiệp. <br>
Quản lý nhân viên và khách hàng: Mọi thông tin về nhân viên cũng như khách hàng sẽ được quản lý chặt chẽ bởi hệ thống. Bạn có thể dễ dàng truy xuất các thông tin khi cần sử dụng hệ thống quản lý.</p>
<p class="w3-large" >
Hệ thống quản lý bán hàng điện tử là những phần mềm quản lý công việc bán hàng, giúp cho người dùng, đặc biệt là các doanh nghiệp kinh doanh quản lý hàng hóa một cách có hệ thống, chặt chẽ hơn. <br>
 </p>
</div>

</div>
</div>
<footer>
  <p>Tác giả: <br> Nguyen Van An <br> Dang Duy Hien</p>
  <p><a href="annguyen22821@gmail.com">annguyen22821@gmail.com</a></p>
</footer>