@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 > Hệ Thống Quản Lí Bán Đồ Điện Tử </h1>
   <h2>Nhóm 18</h2>
   <div  class="navbar-collapse collapse d-sm-inline-flex justify-content-between"  >
                    <ul class="navbar-nav flex-grow-1" >
                       
                        
                        <li style="padding-top: 3px;">
                            <a class="w3-button w3-black"  asp-area="" asp-controller="Nhacungcap" asp-action="Index">Nhà cung cấp</a>
                        </li>
                         <li style="padding-top: 3px;">
                            <a class="w3-button w3-black"  asp-area="" asp-controller="Sanpham" asp-action="Index">Sản phẩm</a>
                        </li>
                        </li>
                         <li style="padding-top: 3px;">
                            <a class="w3-button w3-black"  asp-area="" asp-controller="Nhanvien" asp-action="Index">Nhân viên</a>
                        </li>
                        </li>
                         <li style="padding-top: 3px;">
                            <a class="w3-button w3-black"  asp-area="" asp-controller="Nhaphang" asp-action="Index">Nhập hàng</a>
                        </li>
                        </li>
                         <li style="padding-top: 3px;">
                            <a class="w3-button w3-black"  asp-area="" asp-controller="Khachhang" asp-action="Index">Khách hàng</a>
                        </li>
                        </li>
                         <li style="padding-top: 3px;">
                            <a class="w3-button w3-black"  asp-area="" asp-controller="Hoadon" asp-action="Index">Hoá đơn</a>
                        </li>
                    </ul>
                </div>
            </div>
   
</div>
