@model Nhom18.Models.Nhaphang

@{
    ViewData["Title"] = "Create";
}

<h1>Thông Tin</h1>

<h4>Nhập hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDNH" class="control-label"></label>
                <input asp-for="IDNH" class="form-control"  value = "@ViewBag.newID"/>
                <span asp-validation-for="IDNH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label">Tên Sản Phẩm</label>
                <select asp-for="TenSP" class ="form-control" asp-items="ViewBag.TenSP"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoluongSP" class="control-label">Số Lượng Sản Phẩm</label>
                <input asp-for="SoluongSP" class="form-control" />
                <span asp-validation-for="SoluongSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenNCC" class="control-label">Nhà Cung Cấp</label>
                <select asp-for="TenNCC" class ="form-control" asp-items="ViewBag.TenNCC"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenNV" class="control-label">Tên Nhân Viên</label>
                <select asp-for="TenNV" class ="form-control" asp-items="ViewBag.TenNV"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgaynhapSP" class="control-label">Ngày Nhập Sản Phẩm</label>
                <input asp-for="NgaynhapSP" class="form-control" />
                <span asp-validation-for="NgaynhapSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style=" text-decoration: none; color: rgba(0, 0, 0, 0.9); font-weight: 700; background-color: rgb(119, 0, 255); color :#ffff;    border-bottom-radius: 50px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
