@model Nhom18.Models.Khachhang

@{
    ViewData["Title"] = "Create";
}

<h1>Thông Tin</h1>

<h4>Khách Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaKH" class="control-label">Mã Khách Hàng</label>
                <input asp-for="MaKH"  required="#" class="form-control" />
                <span asp-validation-for="MaKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKH" class="control-label"></label>
                <input asp-for="TenKH" class="form-control" />
                <span asp-validation-for="TenKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaysinhKH" class="control-label"></label>
                <input asp-for="NgaysinhKH"   class="form-control" />
                <span asp-validation-for="NgaysinhKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiachiKH" class="control-label"></label>
                <input asp-for="DiachiKH" required="#"  class="form-control" />
                <span asp-validation-for="DiachiKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style=" text-decoration: none; color: rgba(0, 0, 0, 0.9); font-weight: 700; background-color: rgb(119, 0, 255); color :#ffff;    border-bottom-radius: 50px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
