@model Nhom18.Models.Nhacungcap

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center;"> Thông Tin</h1>

<h2>Nhà Cung Cấp</h2>
<hr />
<div>
    <div class="w3-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNCC" class="w3-text-teal">Mã Nhà Cung Cấp</label>
                <input asp-for="MaNCC" class="w3-input w3-border w3-light-grey"required="#" value = "@ViewBag.newID"/>
                <span asp-validation-for="MaNCC" class="text-danger"></span> 
            </div>
            <div class="form-group">
                <label asp-for="TenNCC" class="w3-text-teal"></label>
                <input asp-for="TenNCC"required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="TenNCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SdtNCC" class="w3-text-teal"></label>
                <input asp-for="SdtNCC" required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="SdtNCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiachiNCC" class="w3-text-teal"></label>
                <input asp-for="DiachiNCC" required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="DiachiNCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailNCC" class="w3-text-teal"></label>
                <input asp-for="EmailNCC"required="#" class="w3-input w3-border w3-light-grey" />
                <span asp-validation-for="EmailNCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="w3-paddingg w3-display-bottommiddle">
    <a asp-action="Index" class="w3-btn w3-black">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
