@model Nhom18.Models.Sanpham

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center;">Thông Tin</h1>

<h2>Sản phẩm</h2>
<hr />
<div >
    <div class="w3-container">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" ></div>
            <div class="form-group">
                <label asp-for="MaSP" class="w3-text-teal"></label>
                <input asp-for="MaSP"required="#" class="w3-input w3-border w3-light-grey"  value = "@ViewBag.newID" />
                <span asp-validation-for="MaSP" ></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP"class="w3-text-teal" ></label>
                <input asp-for="TenSP"required="#" class="w3-input w3-border w3-light-grey"  />
                <span asp-validation-for="TenSP" ></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaSP"class="w3-text-teal" ></label>
                <input asp-for="GiaSP"required="#" class="w3-input w3-border w3-light-grey"   />
                <span asp-validation-for="GiaSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="w3-padding w3-display-middle">
    <a asp-action="Index" class="w3-btn w3-black">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
